.nav__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* важно! */
}

.nav__select h3 {
  margin: 0; /* убирает отступы у заголовка */
}

.mat-toolbar{
  background: #6f6db5;
}
.mat-stroked-button{
  background: #ec407a;
}

table {
  width: 100% !important
}
