<!--<mat-toolbar>-->
<!--&lt;!&ndash;  <mat-toolbar-row>&ndash;&gt;-->
<!--&lt;!&ndash;    <button mat-stroked-button (click)="handleEventCreate()">Create Event</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-toolbar-row>&ndash;&gt;-->
<!--</mat-toolbar>-->
<div class="container feed">
  <div class="nav">
    <div class="nav__categories js-dropdown">
      <div class="nav__select">
        <h1>Текущие подписки</h1>
      </div>
    </div>
  </div>
  <div class="posts">

    <div class="posts__body">
      <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-hweader-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let item"> {{item.title}} </td>
        </ng-container>

        <ng-container matColumnDef="snmpIP" id="snmpIP">
          <th mat-header-cell *matHeaderCellDef>SNMP IP адрес</th>
          <td mat-cell *matCellDef="let item"> {{item.snmpIP}}</td>
        </ng-container>

        <ng-container matColumnDef="snmpPort" id="snmpPort">
          <th mat-header-cell *matHeaderCellDef>SNMP Порт</th>
          <td mat-cell *matCellDef="let item"> {{item.snmpPort}}</td>
        </ng-container>

        <ng-container matColumnDef="community" id="community">
          <th mat-header-cell *matHeaderCellDef>Уровень доступа</th>
          <td mat-cell *matCellDef="let item"> {{item.community}}</td>
        </ng-container>

        <ng-container matColumnDef="FTPip" id="FTPip">
          <th mat-header-cell *matHeaderCellDef>FTP IP адрес</th>
          <td mat-cell *matCellDef="let item"> {{item.FTPip}}</td>
        </ng-container>

        <ng-container matColumnDef="FTPport" id="FTPport">
          <th mat-header-cell *matHeaderCellDef>FTP порт</th>
          <td mat-cell *matCellDef="let item"> {{item.FTPport}}</td>
        </ng-container>

        <ng-container matColumnDef="pathTofiles" id="pathTofiles">
          <th mat-header-cell *matHeaderCellDef>Путь к файлам</th>
          <td mat-cell *matCellDef="let item"> {{item.pathTofiles}}</td>
        </ng-container>

        <ng-container matColumnDef="username" id="username">
          <th mat-header-cell *matHeaderCellDef>Логин</th>
          <td mat-cell *matCellDef="let item"> {{item.username}}</td>
        </ng-container>

        <ng-container matColumnDef="password" id="password">
          <th mat-header-cell *matHeaderCellDef>Пароль</th>
          <td mat-cell *matCellDef="let item"> {{item.password}}</td>
        </ng-container>

        <ng-container matColumnDef="protocol" id="protocol">
          <th mat-header-cell *matHeaderCellDef>Протокол</th>
          <td mat-cell *matCellDef="let item"> {{item.protocol}}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Удаление</th>
          <td mat-cell *matCellDef="let i = index">
            <button mat-icon-button class="removeCart" (click)="removeCart(i)">
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
