<h2 mat-dialog-title>Создание заявки на прогноз</h2>
<mat-dialog-content class="mat-typography">
  <p>Заполните поля</p>

  <form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
    <!--    <mat-error *ngIf="error"> При создании подписки произошла ошибка.</mat-error>-->

    <mat-card-content class="content">
        <mat-form-field appearance="outline">
          <mat-label>Имя</mat-label>
          <input class="message-input" matInput formControlName="name" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Обьект мониторинга</mat-label>
          <input class="message-input" matInput formControlName="objName" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Модель</mat-label>
          <input class="message-input" matInput formControlName="model" required />
        </mat-form-field>

      <hr class="my-2" />
    </mat-card-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Отмена</button>
      <button mat-flat-button color="primary" [mat-dialog-close]="true" (click)="handleFormSubmit()" [disabled]="!form.valid" routerLink="/anomaly">Инициировать прогноз</button>

    </mat-dialog-actions></form>
</mat-dialog-content>
